<!DOCTYPE  html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
		<script src="//localhost:35729/livereload.js"></script>
	</head>
	<body ng-app="ella">
		<div class="container" ng-controller="mainController">
			<header>
				<div class="iconEnterprise">
						<img src="img/icon.svg">
				</div>
				<nav class="navbar">
					<ul class="bar">
						<li class="itembar"><a ui-sref="home">Home</a></li>
						<li class="itembar"><a ui-sref="home">Sections</a></li>
						<li class="itembar"><a ui-sref="home">Requests</a></li>
						<li class="itembar"><a ui-sref="login">Sign in</a></li>
					</ul>
				</nav>
			</header>
			<div class="wrapper" ui-view>
			</div>
			<footer></footer>
		</div>
		<script type="text/javascript" src="angular/angular.min.js"></script>
		<script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="angular-socket-io/socket.min.js"></script>
		<script type="text/javascript" src="js/core.js"></script>
		<script type="text/javascript" src="js/controllers/mainController.js"></script>
		<script type="text/javascript" src="js/controllers/loginController.js"></script>
	</body>
</html>
