<!DOCTYPE  html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
		<script src="//localhost:35729/livereload.js"></script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar">
				<div class="iconEnterprise">
					<i class="fa fa-home"></i>
				</div>
				<ul>
					<li class="itembar">Home</li>
					<li class="itembar">Departamentos</li>
					<li class="itembar">Solicitudes</li>
					<li class="itembar">Ingresar</li>
				</ul>
			</nav>
			<div class="wrapper">
				<div class="login">
					<div class="loginFacebook">
					</div>
					<div class="loginMain">
					</div>
				</div>
			</div>
			<footer></footer>
		</div>
	</body>
</html>
