<div class="login">
	<h1> Sign In </h1>
	<div class="loginMain">
		<form>
			<fieldset class="form-field">
				<label>Email or Username</label>
				<input type="text">
			</fieldset>
			<fieldset class="form-field">
				<label>Password</label>
				<input type="password">
				<div class="forgot"> Forgot password<i class="fa fa-question"></i></div>
			</fieldset>
			<div class="btn submit">
				<button type="submit"> SIGN IN</button>
			</div>
		</form>
		<hr>
		<div class="loginOther">
			<p> Sign in with:</p>
			<a href=""><i class="fa fa-facebook"></i></a>
			<a href=""><i class="fa fa-twitter"></i></a>
			<a href=""><i class="fa fa-google"></i></a>
		</div>
	</div>
</div>