* {
	padding: 0px;
	margin: 0px;
}

body {
	height: 100%;
	width: 100%;
	font: 16px arial, sans-serif;
}

.container {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	.navbar {
		width: 100%;
		height: 10%;
		position : absolute;
		.bar {
			width : 95%;
			background-color: #1a1a1a;
			position : absolute;
		}
		.iconEnterprise {
			width: 2%;
			padding: 2% 2%;
			background-color: blue;
			border-radius: 5em;
			position : absolute;
		}
	}
}

.container .navbar ul {
	list-style: none;
	width: 100%;
	color: white;
}

.container .navbar ul li {
	float: right;
	padding: 1em 2em;
	height: 50%;
}
